.title {
  padding-top: 0px;
  margin-bottom: 25px;
}

.user:not(:last-child) {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #f0f3f6;
}

.fieldset {
  margin-bottom: 24px;
}

.category {
  margin-bottom: 32px;
  color: #808191;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
}

.line {
  display: flex;
}

.details {
  flex: 0 0 calc(100% - 64px);
  width: calc(100% - 64px);
  padding-left: 40px;
}

.btns {
  display: flex;
  margin-bottom: 12px;
}

.text {
  color: #808191;
}