.title {
  padding-top: 0px;
  margin-bottom: 25px;
}

.fieldset {
  margin-bottom: 24px;
}

.balance {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.amount {
  color: #3f8cff;
}

.button {
  margin-bottom: 30px;
}
