.input {
  height: 46px;
  padding: 0 22px;
  width: 100%;
  border-radius: 5px !important;
  background: rgba(228, 228, 228, 0.3) !important;
  border: 2px solid transparent !important;
  font-size: 14px;
  color: #11142d;
  transition: all 0.25s;
}
