.wrap {
  font-size: inherit;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0 !important;
}

.wrap :global .ant-checkbox-inner {
  background: #f14656;
  border-color: #f14656 !important;
  border-radius: 5px;
}

.md :global .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}
.md :global .ant-checkbox-inner::after {
  top: 44%;
  left: 31.5%;
}
.md :global .ant-checkbox-checked .ant-checkbox-inner::after {
  border-width: 3px !important;
}

.lg :global .ant-checkbox-inner {
  width: 30px;
  height: 30px;
}
.lg :global .ant-checkbox-inner::after {
  top: 42%;
  left: 30.5%;
  width: 9px;
  height: 14px;
}
.lg :global .ant-checkbox-checked .ant-checkbox-inner::after {
  border-width: 4px !important;
}
