.title {
  padding-top: 0px;
  margin-bottom: 25px;
}

.fieldset {
  margin-bottom: 24px;
}

.checkbox {
  width: 12.5%;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
