.header {
  position: fixed;
  top: 0;
  left: 256px;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 96px;
  padding: 0 64px;
  background: #ffffff;
  box-shadow: inset 0 -1px 0 0 #e4e4e4;
  transition: left 0.25s;
}

.search {
  display: block !important;
  height: 24px !important;
  position: relative;
  flex-shrink: 0;
  width: 300px;
  margin-right: auto;
}

.control {
  display: flex;
  margin-right: 44px;
}

.controlItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  position: relative;
  flex-shrink: 0;
}

.headerItem {
  position: relative;
  flex-shrink: 0;
}

.moneyHead {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  padding-right: 44px;
  font-weight: 600;
  cursor: pointer;
  color: #808191;
  transition: color 0.25s;
  font-size: 18px;
}

.moneyHead:hover {
  color: #f14656;
}

.profileHead {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
}

.pic {
  width: 100%;
  min-height: 100%;
  border-radius: 50%;
}

.body {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
}

.visibleBody {
  visibility: visible;
  opacity: 1;
}

.notificationsBody {
  top: calc(100% + 24px);
  right: -112px;
  width: 360px;
  padding: 32px 8px;
  box-shadow: 0 10px 36px rgba(227, 230, 236, 0.6);
  background: #ffffff;
}

.profileBody {
  top: calc(100% + 20px);
  right: -32px;
  width: 256px;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.5);
}

.link {
  display: flex;
  align-items: center;
  height: 56px;
  border-radius: 12px;
  font-weight: 600;
  color: #808191;
  transition: all 0.25s;
}

.link:hover {
  background: rgba(228, 228, 228, 0.3);
  color: #f14656;

  .icon {
    color: #f14656;
  }
}

.img {
  flex-shrink: 0;
  width: 60px;
  text-align: center;
  font-size: 0;
}

.btnSearch {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  font-size: 21px;
}

.input {
  width: 100%;
  height: 24px;
  padding-left: 40px;
  background: none;
  border: none;
  font-size: 14px;
  color: #11142d;
}

.input::placeholder {
  color: #808191;
}

.head {
  cursor: pointer;
}
.head:hover {
  color: #f14656;
}

.notificationsHead {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.25s;
}

.iconWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 16px;
  padding: 0 3px;
  background-image: linear-gradient(0deg, #ff544d 0%, #ff754c 100%);
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}

.notificationInfo {
  margin-bottom: 32px;
  padding: 0 24px;
}

.notificationsItem {
  display: flex;
  align-items: center;
  padding: 16px 28px 16px 20px;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: background 0.25s;
}

.notificationsAva {
  position: relative;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
}

.notificationsPic {
  width: 100%;
  min-height: 100%;
  border-radius: 50%;
}

.notificationsDetails {
  flex: 0 0 calc(100% - 48px);
  width: calc(100% - 48px);
  padding-left: 24px;
}

.notificationsLine {
  display: flex;
  margin-bottom: 6px;
}

.notificationsUser {
  margin-right: auto;
  font-size: 13px;
  color: #11142d;
  transition: color 0.25s;
}

.notificationsTime {
  color: #808191;
  transition: color 0.25s;
  flex-shrink: 0;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.notificationsText {
  color: #808191;
  transition: color 0.25s;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  color: inherit;
}
