.filter {
  width: 200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > *:not(:first-child) {
  margin-top: 15px;
}

.wrapper > *:not(:last-child) {
  margin-bottom: 15px;
}

.titleBlack {
  color: #000;
}

.titleWhite {
  color: #fff;
}
