.wrapper {
  display: inline-flex;
  flex-direction: row;
  height: 24px;
  cursor: pointer;
}

.icon {
  display: inline-block;
  margin-right: 20px;
}

.switch {
  width: 64px;
  height: 24px !important;
  background-color: rgba(228, 228, 228, 0.5) !important;
}

.switch:global.ant-switch-checked {
  background-color: #1890ff !important;
}
