.wrap {
  position: relative;
  bottom: -1px;
  height: calc(100% - 84px);
  margin: 0 -1px;
  padding: 32px 0 90px 32px;
  border: 1px solid #f0f3f6;
}

.wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 90px;
  right: 0;
  z-index: 3;
  height: 24px;
  pointer-events: none;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #ffffff),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    bottom,
    #ffffff 0,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    bottom,
    #ffffff 0,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(to top, #ffffff 0, rgba(255, 255, 255, 0) 100%);
}

.list {
  max-height: 100%;
  overflow: auto;
  padding-right: 16px;
  padding-bottom: 24px;
}

.foot {
  position: absolute;
  left: 8px;
  bottom: 10px;
  right: 8px;
}

.input {
  width: 100%;
  height: 80px;
  padding: 0 200px 0 64px;
  border-radius: 10px;
  background: #f0f3f6;
  font-size: 13px;
  color: #11142d;
}

.input::placeholder {
  color: #11142d;
}

.button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  min-width: 122px;
}

.smile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64px;
  padding-left: 8px;
  font-size: 0;
}

.smile .icon {
  font-size: 16px;
  color: #808191;
}

.smile:hover .icon {
  color: #f14656;
}
