.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: #fff !important;
}

.wrapper {
  flex-grow: 1;
  padding-left: 256px;
  padding-top: 96px;
  transition: all 0.25s;
}

.wrapperFluid {
  padding-left: 0px;
}
