.wrap {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: rgba(228, 228, 228, 0.5);
  color: #11142d;
  min-width: 90px;
  height: 46px;
  padding: 0 20px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 700;
  transition: all .25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
