.wrapper {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 48px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 0px 24px 8px #f0f3f6;
}

.details {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.avatar {
  flex-shrink: 0;
  margin-right: 32px;
  position: relative;
  font-size: 0;
}

.wrap {
  flex-grow: 1;
}

.man {
  margin-bottom: 12px;
}

.man.confirm:after {
  content: "";
  position: relative;
  bottom: -1px;
  display: inline-block;
  margin-left: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #7fba7a
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7'%3E%3Cpolygon fill='%23FFF' points='6.8 9 5.2 7.4 4 8.6 6.8 11.4 12 6.2 10.8 5' transform='translate(-4 -5)'/%3E%3C/svg%3E%0A")
    no-repeat 50% 50%/16px 13px;
}

.parameters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.parameter {
  display: flex;
  align-items: center;
  color: #b2b3bd;

  strong {
    margin-left: 5px;
  }
}

.parameter:not(:first-child) {
  margin-left: 12px;
}

.btns {
  display: flex;
  font-size: 0;
  margin-left: 30px;

  > *:not(:last-child) {
    margin-right: 24px;
  }
}
