.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 375px;
  padding-bottom: 32px;
  border-right: 1px solid #e4e4e4;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.item:not(:last-child) {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e4e4e4;
}

.body {
  display: block;
}

.mobile {
  width: 100%;
}
