.wrapper {
  position: fixed;
  padding: 0 !important;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(34, 36, 42, 0.25) !important;
  height: var(--footer-height) !important;
  z-index: 10;
}

.text {
  line-height: var(--footer-height);
}
