@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.compact.less";
@import "./overrides.less";
@import "./fonts/AzoSans/styles.css";
@import "./fonts/Avenir/styles.css";

:root {
  --light-background: #fff;
  --nav-bar-height: 75px;
  --footer-height: 75px;
}

body {
  background: var(--light-background);
  overflow-y: auto !important;
  width: 100% !important;
  font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img,
fieldset,
a img {
  border: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}
input[type="submit"],
button {
  cursor: pointer;
  background: none;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
textarea {
  overflow: auto;
}
input {
  appearance: none;
}
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}
select {
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
ul,
ol {
  list-style-type: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.h1 {
  font-size: 56px;
  line-height: 1.14286;
}

.h2 {
  font-size: 48px;
  line-height: 1.39583;
}

.h3 {
  font-size: 40px;
  line-height: 1.4;
}

.h4 {
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.h5 {
  font-size: 24px;
  line-height: 1.33333;
}

.h6 {
  font-size: 18px;
  line-height: 1.33333;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
