.input {
  width: 100% !important;
  background: rgba(228, 228, 228, 0.3) !important;
  border: none !important;
  border-radius: 5px !important;
}

.input input {
  height: 46px !important;
  padding: 0 22px !important;
  background: none !important;
  font-size: 14px;
  color: #11142d;
  transition: all 0.25s;
}

.input :global .ant-input-number-handler-wrap {
  background: transparent !important;
}

.input :global .ant-input-number-handler {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.input :global .ant-input-number-handler-down {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.input :global .ant-input-number-handler-up {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
